.header {
  &__inner {
    height: 100vh;
    min-height: 800px;
    max-height: 1080px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-image: url("../img/bg/bg-header_desk.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  &__logo {
    width: 100%;
  }

  &__banner {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
