<div class="banner {{inject.parentClass}}" >

  <div class="banner__inner">
    <div class="banner__box">
      <div class="banner__top">
        <div class="banner__top-text">WELCOME PACKAGE</div>
      </div>
      <div class="banner__middle">
          UP TO
          <span class="deco__tw">0,25</span>BTC
          <span class="deco__tw">+225</span>FS
      </div>
      <div class="banner__bottom">
        <a href="/" class="banner__button link">GET BONUS</a>
        
        </div>
    </div>
  </div>
</div>